name: Container builds

on:
  push:
    branches:
      - main
    paths:
      - "dind-with-node/.devcontainer/devcontainer.json"
      - "python-selenium/.devcontainer/devcontainer.json"
      - "python-selenium/Dockerfile"
      - "rails-dev/.devcontainer/devcontainer.json"
      - "rails-dev/Dockerfile"
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * 3' # Run weekly at 8 PM Central Time

jobs:
  build-and-push-main-builder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Install devcontainer CLI
        run: npm install -g @devcontainers/cli

      - name: Build and push the main builder image
        run: sh ./build-scripts/build_dind-with-node.sh

  build-and-push-python-selenium:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}


      - name: Install devcontainer CLI
        run: npm install -g @devcontainers/cli

      - name: Build and push the Python and Selenium image
        run: sh ./build-scripts/build_python-selenium.sh

  build-and-push-rails-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Install devcontainer CLI
        run: npm install -g @devcontainers/cli

      - name: Build and push the Rails dev image
        run: sh ./build-scripts/build_rails-dev.sh
